.wrapper {
  width: var(--width);
  margin: 2rem auto;
}

/* Form alanı stilini ayarla */
.form-area {
  width: 820px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  .form-group {
    margin-bottom: 25px;
  }

  .form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
  }

  .form-group input[type="text"],
  .form-group select,
  .form-group .checkboxinput {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form-group input[type="file"] {
    display: block;
    padding: 5px;
    font-size: 16px;
  }

  .form-group .selectmultiple {
    height: auto;
  }

  .form-group .asteriskField {
    color: red;
  }

  .form-check-label {
    font-size: 16px;
    display: inline-block;
    margin-left: 10px;
  }

  /* Buton için stil */
  .submit-button {
    background-color: #232340;
    color: #fff;
    padding: 12px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .submit-button:hover {
    background-color: #232340;
  }

  .form-check {
    display: flex;
  }

  /* Checkbox stilini ayarla */
  input[type="checkbox"].checkboxinput {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    cursor: pointer;
  }

  input[type="checkbox"].checkboxinput::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 3px;
    transition: background-color 0.3s ease;
  }

  input[type="checkbox"].checkboxinput:checked::before {
    background-color: #232340;
    border-color: #232340;
  }
}

.contact-form {
  box-shadow: var(--box-shadow);
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 2rem;
  &-area {
    input {
      border: 1px solid #fff;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 10px;
      width: 100%;
      outline: none;
      border-bottom: var(--border);
      &:last-child {
        margin-bottom: 0;
        color: #fff;
        font-weight: bold;
        background-color: #232340;
        &:hover {
          background-color: #232340;
          opacity: 0.8;
        }
      }
    }

    textarea {
      border: 1px solid #fff;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 10px;
      width: 100%;
      outline: none;
      border-bottom: var(--border);
      &:last-child {
        margin-bottom: 0;
        background-color: #232340;
      }
    }
  }
}
