# Django stuff
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# Database
db.sqlite3

# Static files
static/
media/

# Secret key
secret_key.txt

# Configuration files
settings.py

# IDE specific
.vscode/
*.sublime-project
*.sublime-workspace
*.pyc
*.swp

# Dependency directories
venv/
env/
