.table-post {
  width: var(--width);
  margin: 2rem auto;
}

.pag {
  width: var(--width);
  margin: 2rem auto;
}
.add-btn {
  width: var(--width);
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin: 1rem auto;
  padding-right: 20px;
}
