.hero-wrapper {
  width: 100%;
  max-height: 300px;
  aspect-ratio: 16/7;
  position: relative;
  margin-bottom: 2rem;
  text-align: center;
  padding: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
  overflow: hidden;
  img {
    width: 100%;
    position: absolute;
    object-fit: cover;
    max-height: 300px !important;
  }
  .abs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    h2 {
      font-size: 2rem;
    }

    p {
      max-width: 600px;
      font-weight: 800;
    }
    span {
      width: 200px;
      height: 5px;
      background-color: #fff;
    }
  }
  @media screen and (max-width: 768px) {
    aspect-ratio: 16/7;
    .abs {
      gap: 0px;
      h2 {
        font-size: 1.5rem !important;
      }
      p {
        font-size: 0.65rem;
        padding: 20px;
      }
    }
  }
}
.sub-post {
  width: var(--width);
  display: grid;
  margin: auto;
  gap: 20px;
  grid-template-columns: 1fr 350px;
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    margin-bottom: 50px;
  }
}

.single-post {
  margin: 0px auto 2rem auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;

  .post-image {
    img {
      aspect-ratio: 16/7;
      object-fit: cover;
    }
  }
}

.post-header {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 20px;
}

.post-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.post-meta {
  font-size: 1rem;
  color: #888;
}

.post-image img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.post-content {
  font-size: 1.1rem;
  line-height: 1.6;
}

.recommend {
  background-color: #f9f9f9;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 430px;
  overflow-y: scroll;

  h2 {
    margin-bottom: 20px;
  }
  &-wrapper {
    display: grid;
    grid-template-columns: 90px 1fr;
    gap: 20px;
  }

  &-post {
    img {
      width: 90px;
      height: 90px;
      border-radius: 8px;
    }
  }

  &-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p {
      font-size: 12px;
      padding-bottom: 4px;
    }
    a {
      font-size: 12px;
      color: var(--main-color);
    }
  }
}
