// !NAVBAR
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  width: var(--width);
  padding: 1rem 0px;
  margin: auto;

  .mid-text {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
  }

  &-social-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    min-width: 70px !important;
    li {
      display: flex;
      align-items: center;
      a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        transition: all 0.3s ease-in-out;
        &:hover {
          transition: all 0.3s ease-in-out;
          scale: 1.1;
        }
      }
    }
  }
  .profile {
    .dropdown {
      display: none;
      align-items: center;
      gap: 0.5rem;
      flex-direction: column;
      position: absolute !important;
      width: 200px;
      background: white;
      color: #000;
      top: 30px;
      padding: 10px;
      right: 0px;
      z-index: 10;
      border-radius: 8px;
      transition: all 0.3s ease-in-out;
      box-shadow: -2px 2px 20px -3px rgba(235, 235, 235, 1);
    }
  }

  .navbar-sub {
    display: none;
    align-items: center;
    gap: 0.5rem;
    flex-direction: column;
    position: absolute !important;
    width: 200px;
    padding: 10px;
    background: white;
    color: #000;
    top: 30px;
    right: 0px;
    z-index: 10;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    box-shadow: -2px 2px 20px -3px rgba(235, 235, 235, 1);
  }
  .active {
    display: flex !important;
  }
}

// !FOOTER
.footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0;

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    p {
      font-size: 14px;
      opacity: 0.8;
    }
  }

  .footer-left {
    flex: 1;
  }

  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .social-icons {
      font-size: 24px;
      margin-bottom: 20px;

      a {
        color: #fff;
        margin: 0 10px;

        &:hover {
          color: #f39c12;
        }
      }
    }

    .contact-info {
      p {
        font-size: 12px;
        opacity: 0.8;
      }
    }
  }

  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 20px;

    p {
      font-size: 12px;
      opacity: 0.6;
    }
  }
}

// !CARD STYLES
.card {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: translate(0, -5px);
    transition: all 0.3s ease-in-out;
  }

  img {
    aspect-ratio: 16/9;
  }

  .card-img-top {
    width: 100%;
    height: auto;
  }

  .card-body {
    padding: 15px;

    .view {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .card-title {
      font-size: 1.25rem;
      margin-bottom: 10px;
    }

    .card-text {
      font-size: 0.75rem;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      small {
        font-size: 0.75rem;
        color: #999;
      }
    }

    .text-muted {
      font-size: 0.875rem;
      color: #999;
    }

    p {
      margin-bottom: 10px;
      font-size: 14px;
    }

    .btn-primary {
      background-color: #232340;
      border-color: #007bff;
      color: #fff;
      padding: 6px 12px;
      font-size: 0.875rem;
      border-radius: 5px;
      text-transform: uppercase;
    }
  }
}

// ! PAGINATION STYLES
.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  border: var(--border);
  padding: 20px;

  .page-item {
    margin: 0 5px;

    .page-link {
      padding: 5px 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      color: #333;
      text-decoration: none;

      &:hover {
        background-color: #f5f5f5;
      }
    }

    &.active .page-link {
      background-color: #007bff;
      border-color: #007bff;
      color: #fff;
    }
  }

  .m-auto {
    margin: 0 auto;
    font-weight: bold;
  }
}

// !ABSOLUTE CARD

.abs-card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  position: relative;
  .abs-sub {
    cursor: pointer;
    aspect-ratio: 16/9;
    position: relative;
    margin-bottom: 2rem;
    text-align: center;
    padding: 12px;
    color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: translate(0, -5px);
      transition: all 0.3s ease-in-out;
    }
    img {
      width: 100%;
      position: absolute;
      inset: 0;
      object-fit: cover;
      max-height: 400px !important;
    }
    .abs-text {
      position: absolute;
      inset: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      gap: 20px;

      span {
        width: 100px;
        height: 3px;
        background-color: #fff;
      }
      h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  @media screen and (max-width: 768px) {
    aspect-ratio: 16/9;
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
}

// ! HERO WRAPPER
.hero-wrapper {
  width: 100%;
  aspect-ratio: 16/7;
  position: relative;
  margin-bottom: 2rem;
  text-align: center;
  padding: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
  overflow: hidden;
  img {
    width: 100%;
    position: absolute;
    object-fit: cover;
  }
  .abs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-shadow: #007bff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    h2 {
      font-size: 2rem;
    }
    .buttons {
      display: flex;
      gap: 20px;
    }
    p {
      max-width: 600px;
      font-weight: 800;
    }
    span {
      width: 200px;
      height: 5px;
      background-color: #fff;
    }
    /* Genel stil ayarları */
    .input-wrapper {
      display: flex;
      align-items: center;
      width: 100%;
      border-radius: 8px;
      overflow: hidden;
      margin: 10px;
      max-width: 400px;
      box-shadow: var(--box-shadow);
    }

    /* Arama kutusu stil ayarları */
    .input-wrapper input[type="search"] {
      padding: 8px;
      font-size: 14px;
      width: 100%;
      background: none;
      outline: none;
      border: none;
      background-color: #fff;
    }

    /* Arama düğmesi stil ayarları */
    .input-wrapper button[type="submit"] {
      padding: 8px 12px;
      background-color: #232340;
      color: #fff;
      border: none;
      cursor: pointer;
      font-size: 14px;
      transition: background-color 0.3s ease;
    }

    /* Arama düğmesi üzerine gelindiğinde stil değişikliği */
    .input-wrapper button[type="submit"]:hover {
      background-color: #0056b3;
    }
  }
  @media screen and (max-width: 768px) {
    aspect-ratio: 16/9;
    .abs {
      gap: 10px !important;
      h2 {
        font-size: 1.5rem !important;
      }
      p {
        font-size: 0.65rem;
        padding: 20px;
      }
      .input-wrapper {
        max-width: 250px;
      }
    }
  }
}

.btn-primary {
  background-color: #fff;
  color: #232340;
  font-weight: 700;
  width: 150px;
  text-align: center;
  padding: 6px 12px;
  font-size: 0.875rem;
  border-radius: 5px;
  text-transform: uppercase;
  &:hover {
    background-color: #232340;
    color: #fff;
  }
}

// ! MESSAGES
ul.messages {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;

    &.success {
      background-color: #dff0d8; /* Success background color */
      border-color: #d0e9c6; /* Success border color */
    }

    &.error {
      background-color: #f2dede; /* Error background color */
      border-color: #ebccd1; /* Error border color */
    }

    &.info {
      background-color: #d9edf7; /* Info background color */
      border-color: #bce8f1; /* Info border color */
    }

    &.warning {
      background-color: #fcf8e3; /* Warning background color */
      border-color: #faebcc; /* Warning border color */
    }

    &:first-child {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    &:last-child {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
