{% load static %}
<footer class="footer">
  <div class="footer-content">
    <div class="footer-left">
      <h2>Bedirhan Say</h2>
      <p>A blog about technology, design, and more.</p>
    </div>
    <div class="footer-right">
      <div class="social-icons">
        <a href="/category/{{ category.slug }}" class="category">
          <img src="{% static 'svg/linkedin.svg' %}" alt="" />
        </a>
        <a href="/category/{{ category.slug }}" class="category">
          <img src="{% static 'svg/github.svg' %}" alt="" />
        </a>
      </div>
      <div class="contact-info">
        <p>Contact us: bedirhan.sayy@outlook.com</p>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2023 Bedirhan Say. All rights reserved.</p>
  </div>
</footer>
