{% load static %}
<footer class="footer">
  <div class="footer-content">
    <div class="footer-left">
      <h2>Bedirhan Say</h2>
      <p>A blog about technology, design, and more.</p>
    </div>
    <div class="footer-right">
      <div class="social-icons">
        <a
          target="_blank"
          href="https://www.linkedin.com/in/bedirhan-say-2b47391b0/"
          class="category"
        >
          <img src="{% static 'svg/linkedin.svg' %}" alt="" />
        </a>
        <a
          target="_blank"
          href="https://github.com/bedirhansay"
          class="category"
        >
          <img src="{% static 'svg/github.svg' %}" alt="" />
        </a>

        <a class="category" href="mailto:bedirhan.sayy@outlook.com">
          <img src="{% static 'svg/mail.svg' %}" alt="" />
        </a>
      </div>
      <div class="contact-info">
        <a href="mailto:bedirhan.sayy@outlook.com"
          >Contact us: bedirhan.sayy@outlook.com</a
        >
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2023 Bedirhan Say. All rights reserved.</p>
  </div>
</footer>
