{% load static %}

<div class="projeler">
  <div class="projeler-text">
    <img src="{% static 'images/python.png' %}" alt="" />
    <h2>Python</h2>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
      voluptatibus, quibusdam, quia, quos voluptatem voluptatum exercitationem
      quod voluptate quas quidem doloribus. Quisquam voluptatibus, quibusdam,
      quia, quos voluptatem voluptatum exercitationem quod voluptate quas quidem
      doloribus.
    </p>
  </div>
  <div class="projeler-text">
    <img src="{% static 'images/python.png' %}" alt="" />
    <h2>Js</h2>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
      voluptatibus, quibusdam, quia, quos voluptatem voluptatum exercitationem
      quod voluptate quas quidem doloribus. Quisquam voluptatibus, quibusdam,
      quia, quos voluptatem voluptatum exercitationem quod voluptate quas quidem
      doloribus.
    </p>
  </div>
  <div class="projeler-text">
    <img src="{% static 'images/react.png' %}" alt="" />
    <h2>React Js</h2>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
      voluptatibus, quibusdam, quia, quos voluptatem voluptatum exercitationem
      quod voluptate quas quidem doloribus. Quisquam voluptatibus, quibusdam,
      quia, quos voluptatem voluptatum exercitationem quod voluptate quas quidem
      doloribus.
    </p>
  </div>
</div>
