{% load static %} {% load getCategories %}

<nav class="navbar">
  <ul class="navbar-social-wrapper">
    <li class="class-item">
      <a
        target="_blank"
        href="https://www.linkedin.com/in/bedirhan-say-2b47391b0/"
        class="category"
      >
        <img src="{% static 'svg/linkedin.svg' %}" alt="" />
      </a>
    </li>
    <li class="">
      <a class="category" href="mailto:bedirhan.sayy@outlook.com">
        <img src="{% static 'svg/mail.svg' %}" alt="" />
      </a>
    </li>
  </ul>
  <ul>
    <li>
      <a class="mid-text" href="/"> FRONTEND </a>
    </li>
  </ul>

  <ul class="navbar-social-wrapper">
    <li class="menu active">
      <img src="{% static 'svg/menu.svg' %}" alt="" />
      <ul class="navbar-sub">
        {% get_categories as categories %} {% for category in categories %}
        <li>
          <a href="/category/{{ category.slug }}" class="category">
            {{ category.name|title }}
          </a>
        </li>

        {% endfor %}
        <li><a href="/admin">admin</a></li>
      </ul>
    </li>

    <li class="profile">
      <img src="{% static 'svg/profile.svg' %}" alt="" />
      <ul class="dropdown">
        {% if request.user.is_authenticated %}
        <li><a href="/profile">Profile</a></li>
        <li>
          <a href="/profile/{{ user.username }}/posts">Profil Düzenle</a>
        </li>
        <li>
          <a href="{% url 'change-password' %}">Şifre Değiştir</a>
        </li>
        <li>
          <a href="{% url 'signout' %}">Çıkış yap</a>
        </li>
        {% else %}
        <li><a href="/login">Giriş yap</a></li>
        {% endif %}
      </ul>
    </li>
  </ul>
</nav>
