<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end pagination-showcase">
    {% if posts.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{posts.previous_page_number}}"
        >Previous</a
      >
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link">Önceki</a>
    </li>
    {% endif %}
    <strong class="m-auto">Sayfa {{ posts.number }}</strong>
    {% if posts.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{posts.next_page_number}}">Sonraki</a>
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link">Next</a>
    </li>
    {% endif %}
    <li class="page-item">
      <a class="page-link" href="?page={{posts.paginator.num_pages}}"
        >Son Sayfa</a
      >
    </li>
  </ul>
</nav>
