.homepage-wrapper {
  width: var(--width);
  margin: 0px auto;
  gap: 20px;

  .homepage {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  .category-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1.5rem !important;
    margin-top: 1.5rem !important ;
    text-decoration: underline;
    display: inline-block;
  }
}
