{% extends "base/base.html" %} {% load static %} {% block title %}Ana
Sayfa{%endblock %} {% block content %}

<div class="homepage-wrapper">
  {% include 'components/hero.html' %}

  <h2 class="category-title">En Çok Okunanlar</h2>
  {% include 'components/absoluteCard.html' %}

  <h2 class="category-title">BLOG YAZILARI</h2>
  <div class="homepage">{% include 'components/card.html' %}</div>

  {% include 'components/pagination.html' %}
  <h3 class="category-title"></h3>
  <h3 class="category-title">Fikrinizi Paylaşın</h3>

  {% include 'forms/contactForm.html' %}
</div>

{% endblock %}
